<div class="tab-pane fade show" id="adminSidebarServiceOrderSection">
  <div class="container my-5 bg-white" style="overflow-x: auto">
    <h2 class="py-3"><strong>Услуги Заказы</strong></h2>
    <table class="table table-striped" id="sidebarServiceOrdersTable">
      <thead>
        <tr class="btn-clr text-center">
          <th scope="col">Создать</th>
          <th scope="col">Номер заказа</th>
          <th scope="col">Номер поста</th>
          <th scope="col">Заказчик</th>
          <th scope="col">Продавец</th>
          <th scope="col">Цена($)</th>
          <th scope="col">Статус</th>
        </tr>
      </thead>
      <tbody>
        <% order.forEach(singleOrder=> { %>
          <tr class="text-center">
            <th scope="row">
              <%= momentFormatMonthDayYear(singleOrder.createdAt)%>
            </th>
            <td>
              <%= singleOrder.id %>
            </td>
            <td>
              <%= singleOrder.service._id %>
            </td>
            <td>
              <%= singleOrder.user %>
            </td>
            <td>
              <%= singleOrder.service.userId %>
            </td>
            <td>
              <%= (singleOrder.service.pricing.price[singleOrder.index]).toFixed(2) %>
            </td>
            <td><span class="btn <%= singleOrder.status ? 'btn-success' : 'btn-danegr' %>">
                <%= singleOrder.status ? 'Закочен' : 'Незакончен' %>
              </span></td>
          </tr>
          <% }) %>
      </tbody>
    </table>
  </div>
</div>